.false {
    border-color: lightcoral;
}

.true {
    border-color: aquamarine;
}

.erreur {
    color: lightcoral;
}

body {
    font-family: sans-serif;
    text-align: center;
}

form {
    background-color: aliceblue;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 30%;
    margin-left: 35%;
}

h1 {
    color: black;
    font-family: sans-serif;
    
}

input {
    text-align: center;
    border: 2px solid ;
    border-color: skyblue;
    width: 80%;
    height: 30px;
    font-size: large;
}

#progressbar {
    height: 10px;
    width: 40%;
    margin-left: 30%;
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro;
    
}

#Valider {
    border-style: none;
    width: 80%;
    height: 30px;
    background-color: skyblue;
    color: mintcream;
    font-weight: bold;
}

#Valider:disabled {
    background-color: mintcream;
    color: skyblue;
}

#CGU {
    width: auto;
    height: auto;
}

.e0 {
    height: 100%;
    width: 0%;
    background-color: red;
}

.e20 {
    height: 100%;
    width: 20%;
    background-color: red;
}

.e40 {
    height: 100%;
    width: 40%;
    background-color: orangered;
}

.e60 {
    height: 100%;
    width: 60%;
    background-color: orange;
}

.e80 {
    height: 100%;
    width: 80%;
    background-color: yellow;
}

.e100 {
    height: 100%;
    width: 100%;
    background-color: limegreen;
}